<h1>New Cocktail</h1>
<%= simple_form_for [ @cocktail ] do |f| %>
  <%= f.input :name %>
  <%= f.submit "Add Cocktail", class: "btn btn-success" %>
<% end %>
<%= link_to 'Back', cocktails_path, class: "btn btn-success" %>
